.myPanel {
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.myPanel-body {
    text-align: center;
    padding: 2px;
    background: #FFF0F5;
}
.myPanel-heading {
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    position: relative;
}

.myPanel-primary {
    border-color: #FFF0F5;
}
.myPanel-primary > .myPanel-heading {
    color: #fff;
    background-color: #DB7093;
    border-color: #DC143C;
}

.event {
    background: #FFF0F5;
    width: 114px;
    margin-left: 3px;
    box-sizing: border-box;
}