<div class="global-form-select">
<select class="" {{#if disabled}}disabled{{/if}} name={{name}}>
  <option selected>{{name}}</option>
  {{#each arr}}
    <option>{{this}}</option>
  {{/each}}
</select>
</div>
